:root {
    --primary-color: #5cb6ff;
    --secondary-color: #006400;
    --accent1-color: rgb(0, 100, 207);
    --accent2-color: #146c43;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

footer p {
    color: var(--secondary-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

article {
    position: absolute;
    font-family: var(--body-font);
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
}

.hero article {
    position: absolute;
}

.hero article img {
    float: right;
    width: 300px;
    border: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.socialmedia a {
    text-decoration: none;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}