* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-padding: 10px;
}

#main {
    max-width: 800px;
}

#h1 {
    color: rgb(10, 14, 17);
}

nav {
    background-color: rgb(255, 155, 74);
    padding: var(--main-padding);
}

nav a {
    color: rgb(255, 255, 255);
    padding: var(--main-padding);
    font-size: 1.2rem;
    text-decoration: none;
}

main img {
    float: right;
    width: 275px;
    height: auto;
    border: 3px;
    padding: 10px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

aside {
    width: 775px;
    font-size: large;
    text-align: center;
    position: relative;
}

aside img {
    width: 700px;
    height: auto;
}

aside h2 {
    text-align: center;
    position: absolute;
    top: 35;
    left: 325px;
    color: aliceblue;

}

#p {
    padding: 0;
    font-size: 1.9rem;
}

#footer {
    margin-top: 10px;
    border-top: 20px;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 10px solid rgb(0 0 0/ 10%);
    background-color: rgb(255, 185, 29);
    color: rgb(20, 48, 24);
}