#main {
    max-width: 800px;
}

#h1 {
    color: rgb(10, 14, 17);
}

#nav {
    background-color: aqua;
    padding: 10px;
}

.nav-a {
    color: blanchedalmond;
    padding: 10px;
}

main img {
    width: 250px;
    height: auto;
    border: 10px;
    padding: 10%;
    box-shadow: 10px;
}

#aside {
    width: 400px;
    margin: 20px;
    border: 20px;
    padding: 40px;
    background-color: rgb(39, 116, 116);
    color: whitesmoke;
    font-size: large;
}

aside img {
    width: 200px;
    height: auto;
}

#p {
    padding: 0;
}

#footer {
    margin-top: 10px;
    border-top: 20px;
    text-align: center;
}